.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 250px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item:not(:last-child) {
  margin-bottom: 12px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 12px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.name {
  font-size: 30px;
  margin-left: 17px;
  margin-right: auto;
}
